<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="org.mycounter" sequenceNumber="202">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.emodeling.runtime.feature.feature.group" version="1.0.0.201307280847"/>
<repository location="http://bryanhunt.github.com/eModeling/releases/1.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.5.3.v201402240820"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.mongodb.feature.feature.group" version="2.9.3.201306111021"/>
<repository location="http://bryanhunt.github.com/3rd-party-libs"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.mongoemf.api.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.handlers.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.log.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.query.mongodb.feature.feature.group" version="1.0.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.streams.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.converter.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.runtime.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.query.simple.feature.feature.group" version="0.8.0.201403232117"/>
<unit id="org.eclipselabs.mongoemf.builders.feature.feature.group" version="0.8.0.201403232117"/>
<repository location="http://bryanhunt.github.com/mongo-emf/releases/0.8.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipselabs.emongo.runtime.feature.feature.group" version="1.0.0.201309151141"/>
<repository location="http://bryanhunt.github.com/eMongo/releases/1.0.0"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.7.1.R37x_v20110907-7M7W8i8eNV4WsRkue-4Vq4J6pCyW"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location path="C:\inst\eclipse_knime_2.9.2_clean" type="Profile"/>
<location path="C:\Temp\felix-webconsole-new" type="Directory"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.1.1.v20130903-0948"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.2.v20140203-1126"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location path="C:\Temp\emongo-new" type="Directory"/>
</locations>
</target>
