<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <!-- This is an example for providing an own category 
      <extension
         point="org.knime.workbench.repository.categories">
      <category
            description="Category containing my nodes"
            icon="icons/default.png"
            level-id="myNodes"
            name="My nodes"
            path="/"/>
   </extension>
   -->
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/ecore"
            expert-flag="false"
            factory-class="cz.cuni.mff.d3s.ecore2knime.node.idsource.IdSourceNodeFactory"
            id="cz.cuni.mff.d3s.ecore2knime.IdSourceNodeFactory">
      </node>
      <node
            category-path="/ecore"
            expert-flag="false"
            factory-class="cz.cuni.mff.d3s.ecore2knime.node.ecoreloader.EcoreLoaderNodeFactory"
            id="cz.cuni.mff.d3s.ecore2knime.EcoreLoaderNodeFactory">
      </node>
   </extension>
   <extension
         point="org.knime.workbench.repository.categories">
      <category
            icon="icons/default.png"
            level-id="ecore"
            locked="true"
            name="Ecore"
            path="/">
      </category>
   </extension>
   
</plugin>
